<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
			PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="MemberDto" type="com.vue1.Controller.MemberDto"/>
		<typeAlias alias="MemberSearchDto" type="com.vue1.Controller.MemberSearchDto"/>
		<typeAlias alias="MemberNumDto" type="com.vue1.Controller.MemberNumDto"/>
	</typeAliases>
</configuration>